# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Python
__pycache__
*.py

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Miscellaneous
*.txt
**/Makefile
tests
answers

# pa0 examples
pa0/oddEven

# pa1 examples
pa1/debugging_examples
pa1/dynamicProgramming
pa1/matMul
pa1/pointers
pa1/sortJobs

# pa2 examples
pa2/bstReverseOrder
pa2/queue
pa2/stack
pa2/solveMaze

#pa3 examples
pa3/ascii
pa3/inplaceSwap
pa3/monteCarloPi

#pa4 examples
pa4/1_assembly_basics
pa4/2_assembly_control
pa4/3_assembly_procedures
pa4/bomb88/README
pa4/bomb88/bomb.c